

<div class="sidebar">

<h2>Sidebarr</h2>
    <% if(user.rol=="Admin"){ %>

        <h2><%= user.nombre%></h2>
        <h2>Admin</h2>
        <ul>
            <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
           
            <li><a href="#"><i class="fas fa-blog"></i>Blogs</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>
            <br>
            <li><a href="/admin/crear-usuario"><i class="fas fa-map-torneo"></i>Crear nuevo Usuario</a></li>
            <li><a href="/admin"><i class="fas fa-map-torneo"></i>Usuarioa</a></li>
            <li><a href="../../logout"><i class="fas fa-map-torneo"></i>logout</a></li>

        </ul> 
        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
         
    <%} %>   

    <% if(user.rol=="Organizador"){ %>

        <h2><%= user.nombre%></h2>
        <h2>Organizador</h2>
        <ul>
            <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fas fa-user"></i>Profile</a></li>
      
            <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>
            <br>
            <li><a href="/organizador/torneos"><i class="fas fa-map-torneo"></i>Ver torneo</a></li>
            <li><a href="/organizador/creartorneo"><i class="fas fa-map-torneo"></i>Creartorneo</a></li>
            <li><a href="../logout"><i class="fas fa-map-torneo"></i>logout</a></li>
        </ul> 
        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
         
    <%} %>   

    <% if(user.rol=="Participante Líder"){ %>

        <h2><%= user.nombre%></h2>
        <h2>Participante Líder</h2>
        <ul>
            <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="#"><i class="fas fa-blog"></i>Blogs</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>

            <li><a href="/lider/torneos"><i class="fas fa-map-torneo"></i>ver Torneos</a></li>
            <li><a href="/lider/editar-perfil"><i class="fas fa-map-torneo"></i>editar perfil</a></li>
            <li><a href="/lider/editar-equipo"><i class="fas fa-map-torneo"></i>editar equipo</a></li>
            
            <li><a href="../logout"><i class="fas fa-map-torneo"></i>logout</a></li>
        </ul> 
        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
         
    <%} %>   

    





</div>