<!--Paramteros: nombre,correo,contrasena,equipo, errorcorreo,errorequipo-->
<h1>Crear un torneo</h1>
<h1>Disfruta jugando,   <%= user.nombre%></h1>

<% errors.forEach( function(c)  {  %> 
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= c.text%>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  
<%}) %>   
<form  action="creartorneo" method="POST">
Nombre:
<input type="text" name="nombre" value="">
<br>

descripcion:
<input type="text" name="descripcion" value="">
<br>

fehca de inicio:
<input type="date" name="fecha_ini" value="">
<br>

fecha de fin:
<input type="date" name="fecha_fin" value="">
<br>
max participantes:
<input type="text" name="maxParticipantes" value="">
<br>

numero de partidas:
<input type="text" name="partidasxDia" value="">
<br>


puntaje:
<input type="text" name="puntajeGanar" value="" placeholder="partida ganada">
<input type="text" name="puntajePerder" value="" placeholder="partida empatada">
<input type="text" name="puntajeEmpatar" value="" placeholder="partida perdida">
<br>


<br>





<button type="submit"onclick="return conf()" >Crear Torneo</button>
    
</form>

<script >
    function conf() {
      var con = confirm("ESTAS SEGURPO DE CREAR UN TORNEO");
      if(con == true)
      {
        return true;
      }
      else{
        return false;
      }
    }
</script>

