<!--Paramteros: nombre,correo,contrasena,equipo, errorcorreo,errorequipo-->
<h1>crear torneo</h1>

<form  action="creartorneo" method="POST">
Nombre:
<input type="text" name="nombre" value="">
<br>

descripcion:
<input type="text" name="descripcion" value="">
<br>

fehca de inicio:
<input type="date" name="fecha_ini" value="">
<br>

fecha de fin:
<input type="date" name="fecha_fin" value="">
<br>
maxparti:
<input type="text" name="maxParticipantes" value="">
<br>
tipo t:
<input type="text" name="tipo" value="">
<br>
numero de p:
<input type="text" name="partidasxDia" value="">
<br>


puntaje:
<input type="text" name="puntajeGanar" value="" placeholder="partida ganada">
<input type="text" name="puntajePerder" value="" placeholder="partida empatada">
<input type="text" name="puntajeEmpatar" value="" placeholder="partida perdida">
<br>

<input type="checkbox" name="aviso" > ver confirmacion de creacion del torneo por consola
<br>



<input type="submit" value="Enviar" />

<input type="submit"  onclick="myFunction()" value="Enviar y mostrar confirmacion" />

    
</form>

<script>
    function myFunction() {
      alert("torneo creado correctamente");
    }
</script>

