<h1>Editar Jugador</h1>


<form  action="editar" method="POST">

    <p>ID: <input readonly type="text" name="" id="">Sale el ID </p>
    <p>Numero de participantes maximo: <input readonly type="text" name="" id="">Sale el num de particpantes </p>
    <p>Tipo de torneo: <input readonly type="text" name="" id="">Todos contra Todos </p>
    <p>Nombre: <input type="text"></p>
    <p>Descripcion: <input type="text"></p>
    <p>Fecha de Inicio: <input type="date"></p>
    <p>Fecha de Fin: <input type="date"></p>
    <p>Numero de partidas por dia: <input type="text"></p>
    

    <input type="submit"  value="Actualizar Torneo" />
</form>

<form action="retroceder" style="display:inline" method="POST">
    <input type="submit" value="Cancelar" />
</form>