<h1>EDITAR USUARIO</h1>

<% usuarios.forEach(function(x){%>
<form  action="editar-usuario" method="POST">
    id: <input type="text" name="idedit" size="27" value="<%=x.id%>" readonly>
    <br>
    Nombres: <input type="text" name="nombre" />
    <br>
    Correo Electrónico : <input type="text" name="correo" />   
    <br>    
    Rol: 
    <select name="rol" >
        <option value="Admin">Admin</option>
        <option value="Organizador">Organizador</option>
        <option value="Participante Líder">Participante Líder</option>
    </select>

    <br><br>
   
   <input type="submit"  value="Agregar" />
   <input type="submit"  value="Volver Al Inicio" formaction=""/>
</form>

<% })  %>  

