<!--Paramteros: nombre,correo,contrasena,equipo, errorcorreo,errorequipo-->
<h1>INICIAR SESION</h1>

<form  action="sign-in" method="POST">



<p>Correo electrónico:
<input type="text" name="correo" value=""></p>

<p>Contraseña:
<input type="text" name="password" value=""></p>


<input type="submit"  value="Enviar" />

</form>
