ACA VA NOMBRE DEL TORNEO:
<h1><%= torneo.nombre%></h1>
<p>Info del torneo:</p><%= torneo.descripcion%>
<p>Fecha de inicio:</p>
<p>Fecha de fin:</p>
<p>Estado:</p>

<div>
     
        <% if(torneo.estado=="en curso"){%>
    <form action="ver-fixture-torneo" style="display: inline" method='GET'>
        <input type="hidden" value="<%=torneo.id%>" name="torneo">
        <input type="submit"  value="Ver Fixture"/>
    </form>
    <form action="ver-tabla-torneo" style="display: inline" method='GET'>
        <input type="hidden" value="<%=torneo.id%>" name="torneo">
        <input type="submit"  value="Ver Tabla"/>  
    </form>
        <% }%> 
