HOLIIIIIIII
ESTA ES LA PAGINA PRINCIPAL DE LOS LIDERES

TABLA DE TORNEOS
<h1>HOLAAA</h1>


<form action="editar-perfil">
    <input type="submit" value="Editar Perfil" />
</form>


<form action="editar-equipo" >
    <input type="submit" value="Editar Equipo" />
</form>