


<div class= "row">

    <% if (lequipos.length >0){ %>
    <%lequipos.forEach(function (elem){ %>
    <div class="column"> 1</div>
    <%}) 
    }
    else {%>
    AUN NO SE HAN INSCRITO Equipos
    <% }%>

</div>