
    <div class="column">ID</div>
    <div class="column">Nombre Equipo   </div>
    <%alphabet = 'ABCDEFGHIJKLM'.split('')%>
    <%for (i=0;i<lequipos.length;i++){ %>
        <div class="column"> <%=alphabet[i]%></div>
    <%}%>
    

    <%for (i=0;i<lequipos.length;i++){ %>
        <div class="row">
            <div class="column"> 
                <p><%=alphabet[i]%></p>
                <p><%=alphabet[i]%></p>
            </div>
    </div>
    <%}%>
