
   <% errors.forEach( function(c)  {  %>
    
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= c.text%>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
<%}) %>   




<div>
<h1>logg admin SESION</h1>

<form action="log" method="POST">
    <div class="form-group">
    <input type="text" class="form-control" name="nombre" placeholder="Name" value="">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" name="correo" placeholder="Email" value="">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" value="">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" value="">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="nombreequipo" placeholder="Nombre de equipo" value="">
      </div>
    <button class="btn btn-primary btn-block">
      Signup 
    </button>
  </form>
</div>