@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
 
  font-family: 'Josefin Sans', sans-serif;
}

body{
  background-color: #b1c2e4;
  display: flex;
  justify-content: center;
  margin-top: 4%;
}
p{
  display:flex;
  
}

.contenido{
  padding:5%;
  background-color: coral;
  width:max-content;
}
.error{
  font-size: xx-small;
  color: red;
  margin-block-end: 0em;
}
input{
  align-self: flex-end;
}

