@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
 
  font-family: 'Josefin Sans', sans-serif;
}

body{

  background: #C33764;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: center;
  margin-top: 4%;
}
p{
  display:flex;
  
}

.contenido{
  
  flex:content;
  margin-top: 80px;
  padding:5%;
  background: #360033;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width:max-content;
}
.error{
  font-size: xx-small;
  color: red;
  margin-block-end: 0em;
}
input{
  align-self: flex-end;
}

