<!DOCTYPE html>
<html lang="es">

    <head>
        <title>Sign In E-Sports</title>
        <meta charset="utf-8">
        <meta name="description" content="Ejemplo HTML5">
        <meta name="keywords" content="HTML,Programacion web">
    
        <link rel="icon" href="logo1.ico" type="image/vnd.microsoft.icon" size="32x32" />
        <link rel="stylesheet" href="/css/enter.css" /> 
    </head>

<body>
    

    
        <div class="contenido">
        
            <%- body %>
            
        </div>
    
</body>

</html>